# Auto detect text files and perform LF normalization
* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

*.ogg binary
*.mp3 binary
*.wav binary
*.flac binary

*.html text
*.css text
*.js text
*.ts text
*.json text
*.svg text
